
<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('closed')">x</button>
    <h1>Cookies</h1>
</div>

<div class="modal-body">
    <h3>Oplysninger om cookies</h3>
    <p>En cookie er en lille datafil, der sendes fra et website og lagres i en brugers webbrowser eller andet IT-udstyr,
        når brugeren anvender websitet. Cookies gør det muligt for browseren at indsamle oplysninger om brugeres
        adfærd, men kan ligeledes anvendes som en sikkerheds- eller brugerfunktionalitet. Cookies anvendes af de fleste
        websites og kræves ofte, for at websitet kan fungere ordentligt.</p>

    <h3>Cookies på dette website</h3>
    <p>På dette website anvendes cookies til følgende:</p>
    <dl class="dl-horizontal">
        <dt>Brugerfunktionalitet</dt>
        <dd>Caching af brugerpræferencer som fx det for nærværende valgte sprog.</dd>
        <dd>Indsamling af den brugerstatistik, der er nødvendig for at evaluere forbedringer af dette website.</dd>

        <dt>Sikkerhed</dt>
        <dd>Identifikation af den bruger, der er logget ind, samt hindring af uvedkommende brugeres interaktion med websitet.</dd>
    </dl>

    <p>Andre websites kan anvende cookies med henblik på fx markedsføring og statistik.</p>

    <h3>Undgå cookies</h3>
    <p>Hvis du ikke ønsker at anvende cookies, kan du undgå dette ved at konfigurere dine browserindstillinger.</p>

    <p>Hvis du via din browserindstilling vælger overhovedet ikke at anvende cookies, bliver dine aktiviteter på
        internettet IKKE registreret. Du vil dog også forhindre dette website, samt mange andre websites, i at fungere ordentligt.</p>

    <p>Hvis du ikke ønsker cookies, og hvis browserindstillingerne gør det muligt, så vil vi foreslå, at browserindstillingerne
        indstilles, således at kun markedsførings- og statistikcookies samt andre tredjepartscookies udelukkes.</p>


    <h3>Hvorfor orienterer vi om cookies?</h3>
    <p>
        Ligesom andre danske websites er vi forpligtede til at orientere om cookies som angivet i  <a target="_blank"
            href="//w2l.dk/file/377959/engelsk-vejledning-cookiebekendtgorelse.pdf">Vejledning til bekendtgørelse om
        krav til information og samtykke ved lagring af eller adgang til oplysninger i slutbrugerens terminaludstyr,
        "Cookie-bekendtgørelsen" (pdf)</a>
    </p>
</div>

<div class="modal-body text-center">
    <button class="btn btn-primary" ng-click="$dismiss('closed')">Luk</button>
</div>
