
<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('closed')">x</button>
    <h1>Content Disclaimer</h1>
</div>

<div class="modal-body">
    <p>This disclaimer applies to all information on this website. By accessing this website and its sub-sites, you accept
        the disclaimer.</p>
    <p>The content on this website is provided for information purposes in order to enhance public access to details that
        may support safe navigation in the Ghana maritime area. Every reasonable effort is made to present current and accurate
        information on this website. Any errors will be regularly addressed. Information on this website is subject to change
        without prior notice.</p>
    <p>This website contains information that is created, compiled and maintained by a variety of sources both internal
        and external to the Ghana Maritime Authority (GMA). DMA does not control, monitor or guarantee the information stemming from external
        sources.</p>
    <p>The information provided on this website does not constitute a legal contract between the GMA and any person or
        entity.</p>
    <p>GMA disclaims any liability for damages directly or indirectly related to the information provided on
        this website, and stresses that the information provided does not in any way substitute safe and well-planned navigation
        by ships in the Ghana maritime area or alleviate the crew from its obligations in accordance with relevant rules, regulations and
        guidelines.</p>
    <p>The availability of nautical information through this website does not relieve Masters of the requirement to
        receive nautical information via IMO/IHO approved broadcast systems.</p>
    <p>Please note that updates on this website can be delayed.</p>
</div>

<div class="modal-body text-center">
    <button class="btn btn-primary" ng-click="$dismiss('closed')">Close</button>
</div>

