html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #5A5A5A;
    background-color: #eee;
    overflow-x:hidden;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

@media print {
    .no-print { visibility:hidden; }
    .print { visibility:visible;  }
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

/** Footer **/

footer {
    margin-top: 0;
    text-align: center;
    display: block;
    position: running(footer);
    padding-top: 5px;
    color: lightgray;
}

.footer {
    padding: 10px 30px;
    border-radius: 0;
    background-color: #444444;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#555555));
    background: -webkit-linear-gradient(top, #444444, #555555);
    background: -moz-linear-gradient(top, #444444, #555555);
    background: -ms-linear-gradient(top, #444444, #555555);
}

.footer a {
    color: lightgray;
    font-size: 12px;
    text-decoration: none;
}

.footer-left {
    padding-top: 7px;
    text-align: center;
}

.footer-center {
    text-align: center;
}

.footer-right {
    padding-top: 7px;
    text-align: center;
}

@media (min-width: 800px) {
    .footer-left {
        text-align: left;
    }
    .footer-right {
        text-align: right;
    }
}

/** Disable modal dialog animation **/

.modal.fade {
    opacity: 1;
}
.modal.fade .modal-dialog, .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

/** Disable button focus **/

.btn:focus,.btn:active {
    outline: none !important;
}

.borderless {
    border: none;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}


.framed-tabs .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: white;
    padding: 20px;
}


.framed-tabs li a {
    padding: 10px 20px;
    font-size: 12px;
}


.message-details-dialog-error {
    width: 100%;
    text-align: center;
    color: darkred;
    font-size: 120%;
    margin-top: 20px;
}

.message-details-dialog-banner {
    font-weight: bold;
    padding: 6px;
    color: #444444;
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #bbb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.message-details-list {
    font-size: 11px;
    margin: 100px auto 40px auto;
    max-width: 820px;
    padding: 0 10px;
}

.message-details-link {
    font-size: 80%;
    color: gray;
    margin: 0 2px;
}

.message-details-item {
    padding: 20px;
    margin: 5px auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.message-table-item td {
    border-bottom: 1px solid #eee;
}

.message-table-item td {
    padding: 10px 10px;
    background-color: white;
}

.details-message-map {
    display: block;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-color: #b5d0d0;
    border: 1px solid lightgray;
}

@media (min-width: 800px) {
    .details-message-map {
        height: 300px;
    }
}


.message-map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #b5d0d0;
}

.message-map-general-messages {
    z-index: 100;
    position: absolute;
    top: 5px;
    right: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    font-size: 10px;
    padding: 5px 10px 0 10px;
    max-height: 400px;
    overflow-y: scroll;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@media (min-width: 600px) {
    .message-map-general-messages {
        width: 300px;
        top: 10px;
        right: 10px;
    }
}

@media (min-width: 800px) {
    .message-map-general-messages {
        width: 400px;
    }
}


.message-map-general-messages-link {
    font-weight: normal;
    font-size: 10px;
}


.compact-message-list {
    width: 100%;
    text-align: left;
    padding: 6px;
}

.compact-message-list:not(:last-child) {
    border-bottom: 1px solid lightgray
}

.message-list-map {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
}

.message-details-map {
    width: 100%;
    height: 200px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
    position: relative;
}

@media (min-width: 800px) {
    .message-details-map {
        height: 300px;
    }
}

.message-details-close-btn {
    float: right;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2000;
}

/* Hide OSM link */
.olControlNoSelect {
    display: none;
}

.ol-rotate {
    visibility: hidden;
}

.ol-attribution {
    visibility: visible;
}

/** Map layer-switcher classes **/

.map-layer-switcher {
    font-size: 11px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 100;
    margin: 0;
    padding: 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.8;
}

.map-layer-switcher ul {
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 0!important;
    background-color: rgba(0, 60, 136, 0.5);
    list-style-type:none;
}

.map-layer-switcher li {
    color: white;
    margin-bottom: 0;
    box-sizing: content-box!important;
}

.map-layer-switcher li input {
    outline: 0;
}


/** Map Tooltip classes **/

#info {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 100;
}

.tooltip.in {
    opacity: 1;
}

.tooltip.top .tooltip-arrow {
    border-top-color: white;
}

.tooltip-inner {
    font-size: 10px;
    border: 2px solid white;
    background-color: #666;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
}


/** View-mode Bar classes **/

.view-mode-bar {
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 200;
    position: fixed;
    display: block;
    color: lightgray;
    background-color: #444444;
    text-align: center;
    vertical-align: middle;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#555555));
    background: -webkit-linear-gradient(top, #444444, #555555);
    background: -moz-linear-gradient(top, #444444, #555555);
    background: -ms-linear-gradient(top, #444444, #555555);
}

@media print {
    .view-mode-bar { display: none; }
}

.view-mode-bar-btn {
    margin: 0 20px 0 20px;
    cursor: pointer;
}

.view-mode-bar .active {
    font-weight: bold;
    color: #ffffff;
}

.view-mode-bar .language-flag {
    height: 16px;
    padding-right: 15px;
    opacity: 0.5;
}

.view-mode-bar .active-language {
    opacity: 0.9;
}

.view-mode-bar-txt {
    display: none;
}

@media (min-width: 500px) {
    .view-mode-bar-txt {
        display: inherit;
    }
}

.execution-mode {
    position: fixed;
    width: 100px;
    height: 25px;
    background: red;
    display: none;
    top: 12px;
    left: -25px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}


/** Filter Bar classes **/

.filter-bars {
    top: 40px;
    z-index: 200;
    position: fixed;
    display: block;
    width: 100%;
    color: #444444;
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
}

.filter-bar {
    border-bottom: 1px solid #bbb;
}


@media print {
    .filter-bar { display: none; }
}

.filter-bar-btns {
    vertical-align: middle;
    padding: 5px 0 5px 0;
    font-size: 10px;
    opacity: 0.8;
}

.filter-bar-btn {
    display:inline-block;
    margin: 0 5px;
    padding: 2px 5px;
    cursor: pointer;
}

.filter-bar-btn a {
    text-decoration: none;
    color: inherit;
}

.filter-bar-btn-selected {
    color: white;
    background-color: #636;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.filter-bar-btn .calendar {
    font-size: 10px;
}

.filter-bar-separator {
    margin: 5px 20px;
    border-left: 1px dotted gray;
}

.filter-bar-close-btn {
    display:inline-block;
    padding-top: 4px;
    cursor: pointer;
}

.teaser-body {
    background-color: #d0cfd4;
}

.teaser-map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.teaser-banner {
    font-family: "Source Sans Pro", Calibri, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: white;
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
