
/** Message details classes **/

.append-dot::after {
    content: ".";
}

.message-search-text {
    font-size: 120%;
    margin-bottom: 5mm;
    padding: 3mm;
    color: white;
    background-color: #002D47;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.message-table {
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    overflow : hidden;
}

.message-area-heading {
    color: #8f2f7b;
    font-size: 20px;
    margin-top: 30px
}

.label-message-nm {
    background-color: gray;
    font-size: 80%;
    display: inline-block;
    margin-bottom: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: bold;

    padding: 3px 7px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.label-message-nw {
    background-color: white;
    color: gray;
    border: 1px solid gray;
    font-size: 80%;
    display: inline-block;
    margin-bottom: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: bold;

    padding: 3px 7px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.label-message-status {
    background-color: lightgray;
    font-size: 80%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: bold;

    padding: 3px 7px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.label-message-suffix {
    display: inline-block;
    margin-bottom: 4px;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
}

.original-information {
    font-size: 200%;
    line-height: 20px;
    margin-bottom: -3px;
}

table.message-details-item-fields {
    width: 100%;
}

table.message-details-item-fields th {
    width: 90px;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    color: gray;
    padding-top: 5px;
}

table.message-details-item-fields td {
    padding-top: 5px;
}

.message-title {
    font-size: 120%;
    font-weight: bold;
}

/** For tables in the message rich text description field **/
.message-description table {
    border-collapse: collapse;
    border: 1px solid #999;
}

.message-description table td, .message-description table th {
    vertical-align: top;
    border: 1px solid #999;
    padding: 3px;
}

.message-description ol, .message-description ul {
    padding-left: 20px;
    margin-bottom: 0;
}

.message-description ol li, .message-description ul li {
    margin-bottom: 3px;
}

.message-description ol li:last-child, .message-description ul li:last-child {
    margin-bottom: 0;
}

.message-description p, .message-description p {
    margin: 0 0 3px 0;
}

.message-description ol li p:last-child, .message-description ul li p:last-child {
    padding: 0;
    margin: 0;
}

table.no-border {
    border: 0;
}

table.no-border td, table.no-border th {
    border: 0;
}

table.condensed {
    padding: 0;
}

table.condensed td, table.condensed th {
    padding: 0;
}

tr.underline td {
    border-bottom: 1px solid #999;
}

td.underline {
    border-bottom: 1px solid #999;
}

table.positions {
    border: 0;
    margin-bottom: 1mm;
}

table.positions td, table.positions th {
    color: #333;
    border: 0;
    padding: 0 3mm 0 0;
    text-align: left;
    white-space: nowrap;
}

table.positions td:nth-child(1) {
    text-align: right;
    color: darkgray;
}

ul.positions li {
    margin-bottom: 0;
}

table.position-table td.pos-col {
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
    white-space: nowrap;
}

table.position-table td.pos-index {
    min-width: 25px;
    text-align: right;
    white-space: nowrap;
}

.attachment {
    margin: 10px;
    width: 100%;
    text-align: center;
    position: relative;
}

.attachment-label {
    margin: 1mm;
    font-style: italic
}

.message-publication a {
    text-decoration: none;
    color: inherit;
}

.message-publication a:hover {
    text-decoration: underline;
}
